.schedule-quiz-view-container {
  background-color: transparent;
  padding: 10px 20px;
  overflow-y: scroll;
  height: 100%;

  .schedule {
    width: 90%;
    margin: 10px auto;
    box-shadow: -2px -2px 5px rgb(0, 0, 0, 0.1),  2px 2px 5px rgb(0, 0, 0, 0.1);
    border-radius: 20px 10px;
    padding: 20px 20px 30px;
    
    @media (max-width: 768px) {
      display: block;
    }
    .course-schedule {
      width: 90%;
      margin: 0px auto;
      .form-group {
        width: 100%;
        select {
          width: 100%;
          padding: 10px;
          border-radius: 10px;
          outline: none;
          font-size: 15px;
        }
      }
      .error {
        color: $error-msg-color;
        font-size: 15px;
        text-align: center;
        display: block;
        margin-bottom: 10px;
      }
      .redirect-success-msg {
        color: $success-msg-color;
        font-size: 15px;
        text-align: center;
        display: block;
        margin-bottom: 10px;
      }
    }
    .course-details {
      width: 100%;
      font-size: 15px;
      margin-bottom: 40px;
      .form-group {
        width: 100%;
        label {
          display: block;
        }
        .inputs {
          width: 100%;
          display: block;
          padding: 10px;
          border-radius: 10px;
          outline: none;
          border: 1px solid rgb(230, 227, 227);
        }
        .check-box {
          zoom: 1.2;
        }
      }
      .btn-holder {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        button {
          display: block;
          width: 50%;
          outline: none;
          padding: 5px 10px;
          border-radius: 10px;
          background-color: $primary-color;
          border: none;
          color: whitesmoke;
          font-size: 20px;
        }
      }
    }
    .list-of-course {
      width: 90%;
      margin: 0px auto;
      overflow-x: auto;
      table {
        width: 100%;
        font-size: 15px;
        border-collapse: collapse;
        @media (max-width: 768px) {
          width: 700px;
        }
        thead {
          background-color: $text-color;
          .left {
            padding-left: 10px;
            border-radius: 10px  0px 0px 10px;
          }
          .right {
            border-radius: 0px 10px 10px 0px;
          }
          th {
            border: none;
            padding: 10px 0px 10px 5px;
            color: $menu-color;
          }
        }
        tbody {
          tr {
            border-bottom: 1px solid rgb(219, 219, 219);
            td {
              padding: 15px 0px 5px 10px;
              .exam-link {
                padding: 5px 10px;
                width: 70%;
                margin: 0px auto;
                cursor: not-allowed;
                text-decoration: none;
                background-color: #e2e2e2;
                border-radius: 10px;
                color: #b1b1b1;
              }
              .enabled {
                cursor: pointer !important;
                background-color: $tertiary-color;
                color: rgb(233, 233, 233);
              }
            }
          }
        }
      }
    }
  }
}