$primary-color: #111e68;
$nav-color: #CFDBE8;
$secondary-color: #f8f1f1;
$login-background: #fdfbfb;
$tertiary-color: #0e1980;
$hover-color: #050d3d;
$error-msg-color: lightcoral;
$menu-color: #e8e8e8;
$text-color: #574646