.course-reg-view-container {
  padding: 5px 30px;
  @media (max-width: 768px) {
    padding: 5px 30px;
  }
  h2 {
    padding: 20px 40px;
    color: $text-color;
    font-size: 25px;
  }
  .holder {
    width: 90%;
    padding: 40px;
    margin: 10px auto;
    box-shadow: 1px 1px 2px black;
    border-radius: 20px 10px;
    @media (max-width: 768px) {
      display: block;
      padding: 40px 10px;
      width: 100%;
    }
    .error {
      color: $error-msg-color;
      font-size: 15px;
      margin-bottom: 20px;
      display: block;
    }
    .sections{
      display: flex;
      justify-content: space-between;

      .custom-control-label {
        font-size: 16px;
      }
      @media (max-width: 768px) {
        display: block;
      }
  
      .custom-control {
        margin-bottom: 20px;
        font-size: 19px;

        @media (max-width: 768px) {
          font-size: 25px;
        }
      }
    }
    .submit-btn {
      display: block;
      width: 40%;
      margin: 0px auto;
      border-radius: 15px;
      background-color: $tertiary-color;
      color:white;
      padding: 5px 10px;
      font-size: 25px;
      outline: none;
      border: none;
      @media(max-width: 768px) {
        width: 40%;
      }
      &:hover {
        background-color: $hover-color;
      }
    }
  }
}