.home-view-container {
  padding: 10px;
  background-color: #fffefe;
  width: 100%;
  background-color: transparent;

  .sections{
    width: 90%;
    margin: 10px auto;
    box-shadow: -2px -2px 5px rgb(0, 0, 0, 0.1),  2px 2px 5px rgb(0, 0, 0, 0.1);
    border-radius: 20px 10px;
    @media (max-width: 768px) {
      display: block;
      width: 100%;
    }

    .not-registered {
      padding: 100px;
      p {
        text-align: center;
        font-size: 30px;
        color: $text-color;
      }
      @media(max-width: 768px) {
        padding: 20px;
      }
    }
  }
  .student-profile {
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      display: block;
    }
    .icon {
      font-size: 10px;
    }
    span {
      padding-left: 20px;
      font-size: 20px;
      color:  #6b6a6a;
    }
  }
  .time-table {
    padding: 20px 30px;
    @media (max-width: 768px) {
      padding: 20px 5px;
    }
    .list-of-course {
      overflow-x: auto;
      table {
        width: 100%;
        font-size: 15px;
        border-collapse: collapse;
        @media (max-width: 768px) {
          width: 700px;
        }
        thead {
          background-color: $text-color;
          .left {
            border-radius: 10px  0px 0px 10px;
          }
          .right {
            border-radius: 0px 10px 10px 0px;
          }
          th {
            border: none;
            padding: 10px 0px 10px 5px;
            color: $menu-color;
          }
        }
        tbody {
          tr {
            border-bottom: 1px solid rgb(219, 219, 219);
            td {
              padding: 15px 0px 5px 10px;
              .exam-link {
                padding: 5px 10px;
                width: 70%;
                margin: 0px auto;
                cursor: not-allowed;
                text-decoration: none;
                background-color: #e2e2e2;
                border-radius: 10px;
                color: #b1b1b1;
              }
              .enabled {
                cursor: pointer !important;
                background-color: $tertiary-color;
                color: rgb(233, 233, 233);
              }
            }
          }
        }
      }
    }
  }
}

