.login-view-container {
  display: flex;
  justify-content: space-between;
  
  .desc-image {
    width: 50%;
    background: url(../login-img.jpg);
    box-shadow: inset 0 0 0 1000px rgba(2, 1, 59, 0.6);
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .admin-desc-image {
    width: 50%;
    background: url(../admin-login.jpg);
    box-shadow: inset 0 0 0 1000px rgba(2, 1, 59, 0.6);
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .login-proper {
    background-color: $login-background;
    width: 50%;
    padding: 0px 90px 10px;
    height: 100vh;
    @media(max-width: 768px) {
      width: 100%;
      padding: 10px 30px;
    }

    h1 {
      padding: 80px 100px;
      color: $tertiary-color;
      text-align: center;
      font-weight: bold;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .logo {
      width: 300px;
      height: 270px;
      margin: 0px auto;
      img {
        width: 100%;
      }
    }
    .redirect-error {
      color: $error-msg-color;
      font-size: 15px;
      text-align: center;
      display: block;
      margin-bottom: 10px;
    }
    .redirect-success-msg {
      color: $success-msg-color;
      font-size: 15px;
      text-align: center;
      display: block;
      margin-bottom: 10px;
    }
    .form-group {
      label {
        display: block;
        text-align: left;
        letter-spacing: 2px;
        font-size: 12px;
        margin: 0;
        color: $tertiary-color;
      }
      input {
        margin: 0 0 10px;
        width: 100%;
        padding: 0 0 1px 0;
        font-size: 15px;
        color: grey;
        background-color: transparent;
        border: 0;
        border-bottom: .1px solid $primary-color;
        outline: none;
      }
      .error {
        color: $error-msg-color;
        font-size: 15px;
      }
      input::placeholder {
        display: block;
        text-align: left;
        letter-spacing: 2px;
        font-size: 12px;
        margin: 0;
        color: $tertiary-color;
      }
    }
    .forgot-password {
      text-decoration: none;
      color: $tertiary-color;
      cursor: pointer;
      text-align: right;
      display: block;
    &:hover {
        color: $hover-color;
      }
    }
    .sign-in-btn {
      display: block;
      width: 40%;
      margin: 80px auto;
      border-radius: 15px;
      background-color: $tertiary-color;
      color:white;
      padding: 5px 10px;
      font-size: 25px;
      outline: none;
      border: none;
      @media(max-width: 768px) {
        width: 40%;
      }
      &:hover {
        background-color: $hover-color;
      }
    }
    .reg-link {
      text-align: center;
      margin-top: 100px;
      color: $tertiary-color;
      @media(max-width: 768px) {
        margin-top: 100px;
      }
      a {
        text-decoration: underline;
        cursor: pointer;
        color: inherit;
        &:hover {
          color: $hover-color;
        }
      }
    }
  }
}
.errorColor {
  border-bottom-color: $error-msg-color !important;
}