.register-view-container {
  display: flex;
  justify-content: space-between;
  
  .desc-image {
    width: 50%;
    background: url(../reg-img.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .register-proper {
    background-color: $login-background;
    width: 50%;
    padding: 10px 90px;
    height: 100vh;
    @media(max-width: 768px) {
      width: 100%;
      padding: 50px 30px;
    }
 
    h3 {
      margin: 30px 0px 15px;
      color: $tertiary-color;
      font-weight: bold;
      font-size: 28px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      text-align: center;
      @media(max-width: 768px) {
        margin-bottom: 40px;
      }
    }
    .form-group {
      label {
        display: block;
        text-align: left;
        letter-spacing: 2px;
        font-size: 12px;
        margin: 0;
        color: $tertiary-color;
      }
      input {
        margin: 0 0 10px;
        width: 100%;
        padding: 0 0 1px 0;
        font-size: 15px;
        color: grey;
        background-color: transparent;
        border: 0;
        border-bottom: .1px solid $primary-color;
        outline: none;
      }
      input::placeholder {
        display: block;
        text-align: left;
        letter-spacing: 2px;
        font-size: 12px;
        margin: 0;
        color: $tertiary-color;
      }
    }
    .error {
      color: $error-msg-color;
      font-size: 15px;
      text-align: center;
      display: block;
    }
    .forgot-password {
      text-decoration: none;
      color: $tertiary-color;
      cursor: pointer;
      text-align: right;
      display: block;
    &:hover {
        color:$hover-color;
      }
    }
    .register-btn {
      display: block;
      width: 40%;
      margin: 28px auto;
      border-radius: 15px;
      background-color: $tertiary-color;
      color:white;
      padding: 5px 10px;
      font-size: 25px;
      outline: none;
      border: none;
      &:hover {
        background-color: $hover-color;
      }
    }
    .login-link {
      text-align: center;
      margin-top: 60px;
      color: $tertiary-color;
      @media(max-width: 768px) {
        margin: 0px;
      }
      a {
        text-decoration: underline;
        cursor: pointer;
        color: inherit;
        &:hover {
          color: $hover-color;
        }
      }
    }
  }
}