.result-checker-view-container {
  .sections{
    width: 90%;
    margin: 10px auto;
    padding: 5px 30px;
    box-shadow: -2px -2px 5px rgb(0, 0, 0, 0.1),  2px 2px 5px rgb(0, 0, 0, 0.1);
    border-radius: 20px 10px;
    @media (max-width: 768px) {
      display: block;
    }
  }
  .student-profile {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      display: block;
    }
    .icon {
      font-size: 10px;
    }
    span {
      padding-left: 20px;
      font-size: 20px;
      color:  #6b6a6a;
    }
  }
  .no-result {
    padding: 100px;
    @media (max-width: 768px) {
      padding: 50px;
    }
    p {
      text-align: center;
      font-size: 30px;
      color: $text-color;
    }
  }
  .result-holder {
    padding-top: 20px;
    display: flex;
    color: $text-color;
    @media (max-width: 768px) {
      display: block;
    }
    .result-table {
      width: 40%;
      @media (max-width: 768px) {
        width: 100%;
      }
      .head {
        span {
          display: inline-block;
          padding-bottom: 20px;
          transform: rotate(-90deg);
          width: 20px;
          text-align: center;
          line-height: 16px;
        }
        .c-code-head, .unit-head {
          margin-right: 10px;
          margin-left: 28px;
        }

        .c-unit-head {
          margin-right: 10px;
          margin-left: 22px;
        }
      }
      .head-title {
        border: 1px solid rgb(32, 32, 32);
        background-color: rgb(168, 166, 166);
        width: 184px;
        padding-left: 2px;
      }
      .semester {
        margin: 10px 0px 0px;
      }
      table td{
        border: 1px solid rgb(32, 32, 32);
        text-align: center;
        padding: 5px 12px;
      }
      .pre-summary {
        margin: 0px;
        font-size: 12px;
        padding: 2px;
      }
      .summary {
        margin: 0px 0px 20px;
        border: 1px solid rgb(32, 32, 32);
        font-size: 9px;
        width: 185px;
        padding: 1px 2px 1px;

      }
    }
    .remark-holder {
      padding: 40px 0px 20px;
      p {
        color: $text-color;
        font-size: 20px;
      }
    }
  }
}